html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

.sub-menu-toggle {
    display: none;
}

#main_slider {
    z-index: 0;
}

.elementor-34580 .elementor-element.elementor-element-65205d2 .eael-simple-menu-align-center .eael-simple-menu.eael-simple-menu-horizontal:not(.eael-simple-menu-responsive) > li:first-child > a {
    border-left: 0 !important;
}

@media all and (max-width: 1024px) {
    .elementor-column.elementor-col-33.elementor-top-column.elementor-element.elementor-element-5de07aa {
        position: relative;
    }

    .elementor-column.elementor-col-33.elementor-top-column.elementor-element.elementor-element-4549cab {
        width: 17% !important;
    }

    .elementor-23532 .elementor-element.elementor-element-c11e250 .elementskit-menu-close,
    .elementor-23532 .elementor-element.elementor-element-b3c7895 .elementskit-menu-close {
        color: #fff;
    }

    #ekit-megamenu-main-menu {
        max-width: 100%;
        background: white;
    }

    .elementor-section.elementor-top-section.elementor-element.elementor-element-f41c090.home_t_testi.elementor-section-boxed.elementor-section-height-default.animated.fadeInUp {
        z-index: 0;
    }

    .elementskit-infobox.text-center.text-left.icon-lef-right-aligin.elementor-animation-.media {
        display: flex;
        flex-direction: column;
        padding-bottom: 0 !important;
    }

    .ekit-wid-con .elementskit-infobox .box-body {
        position: relative !important;
    }

    .elementor-element .elementskit-navbar-nav > li > a .elementskit-submenu-indicator {
        color: transparent !important;
    }

    .icon:not(.icon-search2) {
        color: white !important;
    }

    .elementor-element .elementskit-navbar-nav > li > a:hover .elementskit-submenu-indicator {
        color: transparent !important;
    }

    .elementor-23532 .elementor-element.elementor-element-4549cab.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated,
    .elementor-23532 .elementor-element.elementor-element-f6bf8ee.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated,
    .elementor-23532 .elementor-element.elementor-element-25fe7f9a .elementskit-menu-hamburger {
        padding-top: 0;
    }

    #search-glass-icon {
        padding-top: 7px;
    }

    #menu-icon {
        padding-top: 5px;
    }

    .ekit-wid-con .ekit_testimonial_style_2:hover {
        border-bottom-color: transparent !important;
    }

    .ekit-wid-con .elementskit-info-image-box:hover .elementskit-box-content .elementskit-info-box-title {
        color: #000000 !important;
    }

    .ekit-wid-con .elementskit-info-image-box:hover .elementskit-box-content .elementskit-info-box-title {
        color: #2575fc;
    }

    /*.elementor-23532 .elementor-element.elementor-element-b3c7895 .elementskit-menu-close {
        padding: 8px 8px 8px 8px;
        margin: 12px 12px 12px 12px;
        width: 45px;
        border-radius: 3px;
        top: 35px;
        color: white !important;
    }*/

    .elementskit-menu-close {
        padding: 8px 8px 8px 8px;
        margin: 12px 12px 12px 12px;
        width: 45px;
        border-radius: 3px;
        top: 15px;
        color: white !important;
    }
}

@media all and (max-width: 900px) {
    [id*="ekit-megamenu-main-menu-"] {
        max-width: 100%;
        background: linear-gradient(30deg, rgba(0, 0, 0, 9) 0%, rgba(0, 0, 0, 0.8) 100%) !important;
    }
    [id^="menu-main-menu"]  {
        margin-top: 20px;
    }

    [id^="menu-main-menu"] > li > a,
    [id^="menu-main-menu"] > li > ul > li > a,
    [id^="menu-main-menu"] > li > ul > li > ul > li > a,
    [id^="menu-main-menu"] > li > ul > li > ul > li > ul > li > a {
        color: #fff !important;
        font-size: 15px !important;
    }

    [id^="menu-main-menu"] > li > a:hover,
    [id^="menu-main-menu"] > li > ul > li > a:hover,
    [id^="menu-main-menu"] > li > ul > li > ul > li > a:hover,
    [id^="menu-main-menu"] > li > ul > li > ul > li > ul > li > a:hover {
        color: #E4573D !important;
    }

    [id^="menu-main-menu"] > li > a > i,
    [id^="menu-main-menu"] > li > ul > li > a > i,
    [id^="menu-main-menu"] > li > ul > li > ul > li > a > i {
        height: 25px;
        display: flex;
        max-width: 13%;
        left: unset !important;
        right: 31px !important;
        margin-left: 0 !important;
        color: transparent !important;
    }

    [id^="menu-main-menu"] > li > a > i::before,
    [id^="menu-main-menu"] > li > ul > li > a > i::before,
    [id^="menu-main-menu"] > li > ul > li > ul > li > a > i::before {
        float: none !important;
        position: absolute;
        top: 40%;
        right: 11px;
        color: #fff;
    }

    [id^="menu-main-menu"] > li > ul > li > a > i,
    [id^="menu-main-menu"] > li > ul > li > ul > li > a > i {
        top: 9px;
    }
}

.swiper-container {
    z-index: 0 !important;
}

.post-password-form__input {
    border: black solid 1px !important;
    margin-left: 20px !important;
}